[submodule "preporcess-volume-medical-imaging"]
	path = preporcess-volume-medical-imaging
	url = https://github.com/amine0110/preporcess-volume-medical-imaging
[submodule "best-python-libraries-for-medical-imaging"]
	path = best-python-libraries-for-medical-imaging
	url = https://github.com/amine0110/best-python-libraries-for-medical-imaging
[submodule "anonymize-dicoms"]
	path = anonymize-dicoms
	url = https://github.com/amine0110/anonymize-dicoms
[submodule "nifti-to-stl"]
	path = nifti-to-stl
	url = https://github.com/amine0110/nifti-to-stl
[submodule "convert-images-from-jpr-or-png-into-dicom"]
	path = convert-images-from-jpr-or-png-into-dicom
	url = https://github.com/amine0110/convert-images-from-jpr-or-png-into-dicom
[submodule "data-augmentation-for-3D-volumes"]
	path = data-augmentation-for-3D-volumes
	url = https://github.com/amine0110/data-augmentation-for-3D-volumes
[submodule "convert-a-group-of-dicom-images-into-jpg-images"]
	path = convert-a-group-of-dicom-images-into-jpg-images
	url = https://github.com/amine0110/convert-a-group-of-dicom-images-into-jpg-images
[submodule "convert-images-from-dicom-into-jpg-or-png-images-using-pillow"]
	path = convert-images-from-dicom-into-jpg-or-png-images-using-pillow
	url = https://github.com/amine0110/convert-images-from-dicom-into-jpg-or-png-images-using-pillow
[submodule "Medical-Conversions"]
	path = Medical-Conversions
	url = https://github.com/amine0110/Medical-Conversions
[submodule "nifti2dicom"]
	path = nifti2dicom
	url = https://github.com/amine0110/nifti2dicom
